.sobre {
    background-color: #FFF8E1;
    padding: 60px 20px;
    text-align: center;
}

.sobre .container {
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    color: #8B4513;
    margin-bottom: 20px;
}

.descricao {
    font-size: 18px;
    color: #8B4513;
    line-height: 1.6;
    margin-bottom: 40px;
    font-weight: 300;
}

.funcionalidades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.funcionalidade {
    background-color: #A0522D;
    color: #FFF8E1;
    padding: 40px;
    width: 48%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.funcionalidade h3 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    color: #D2B48C;
    margin-bottom: 20px;
}

.funcionalidade p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #FFF8E1;
}

.botao {
    background-color: #D2B48C;
    color: #A0522D;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
    background-color: #A0522D;
    color: #FFF8E1;
    transform: scale(1.05);
}

.funcionalidade:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .funcionalidade {
        width: 100%;
        padding: 30px;
    }

    .titulo {
        font-size: 36px;
    }

    .descricao {
        font-size: 16px;
    }
}
