.sobre {
    background-color: #FFF8E1;
    padding: 60px 20px;
    text-align: center;
}

.sobre .container {
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    color: #8B4513;
    margin-bottom: 20px;
}

.descricao {
    font-size: 18px;
    color: #8B4513;
    line-height: 1.6;
    margin-bottom: 40px;
    font-weight: 300;
}

.boas-vindas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boas-vindas h2 {
    font-size: 18px;
    margin: 0;
    color: #FFF8E1;
    font-weight: normal;
}

.boas-vindas span {
    font-weight: bold;
    color: #ff9100;
}

.botao-perfil,
.botao-sair {
    font-size: 14px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    color: #FFF;
}

.botao-perfil {
    background-color: #D2B48C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.botao-perfil:hover {
    background-color: #C49A7D;
}

.botao-sair {
    background-color: #B22222;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.botao-sair:hover {
    background-color: #8B0000;
}

.funcionalidades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.funcionalidade {
    background-color: #A0522D;
    color: #FFF8E1;
    padding: 40px;
    width: 48%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.funcionalidade h3 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    color: #D2B48C;
    margin-bottom: 20px;
}

.funcionalidade p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #FFF8E1;
}

.botao {
    background-color: #D2B48C;
    color: #A0522D;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.botao a {
    text-decoration: none;
    color: inherit; /* Isso fará com que o link herde a cor do botão */
}

.botao:visited a,
.botao:hover a {
    color: inherit; /* Garante que o link não mude de cor ao ser visitado ou ao passar o mouse */
}

.botao:hover {
    background-color: #A0522D;
    color: #FFF8E1;
    transform: scale(1.05);
}

.funcionalidade:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .funcionalidade {
        width: 100%;
        padding: 30px;
    }

    .titulo {
        font-size: 36px;
    }

    .descricao {
        font-size: 16px;
    }
}
