@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

.topo-biblioteca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #8B5E3C;
    color: #FFF8E1;
    font-family: Arial, sans-serif;
    position: relative;
    border-bottom: 4px solid #A0522D;
}

.logo {
    flex: 1;
    text-align: center;
    margin-left: 150px
}

.logo h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    color: #FFF8E1;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.botoes {
    display: flex;
    gap: 15px;
}

.botoes button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s;
}

.botao-login {
    background-color: #D2B48C;
    color: #4B2C20;
}

.botao-cadastro {
    background-color: #A0522D;
    color: #FFF8E1;
}

.botoes button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.topo-biblioteca::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 4px;
    background-color: #D2B48C;
    border-radius: 2px;
    opacity: 0.8;
}
