.menu {
    background-color: #34495e;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin: 0 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.menu ul li a:hover {
    text-decoration: underline;
}